:root {
    --color-1: rgb(226, 42, 29);
    --color-2:
        --color-3: --color-4: --color-5: --color-6:
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 100px 0px 0px 0px;
}

.header {
    /* background-image: linear-gradient(116deg, rgb(253, 253, 81) 15%, rgb(87, 87, 253), rgb(255, 70, 70)); */
    background-image: linear-gradient(to right, #9c17c5 0%, #a115a4 50%, #ce5937 100%);
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0px auto;

}

.nav img {
    height: 75px;
    position: relative;
    left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 12px;
}

.nav a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin-right: 10px;
}

.nav-menu {
    display: flex;
    margin-right: 5px;
    list-style: none;
}

.nav-menu-item {
    font-size: 1.3rem;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu li a:hover {
    background: var(--color-1);
    color: white;
}

.nav-menu-link:hover,
.nav-menu-link_active {
    background: var(--color-1);
    transition: 0.5s;
}

.nav-menu-link {
    border-radius: 10px;

}

.checkbtn {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0px 20px;
    line-height: 85px;
    display: none;
    cursor: pointer;
}

#check {
    display: none;
}


/* INICIO MEDIA QUERY NAVBAR */
@media (max-width:992px) {
    .header {
        height: 100px;
    }

    .nav img {
        height: 60px;
        position: relative;
        left: 5px;
        z-index: 999;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        background-image: linear-gradient(to right, #9c17c5 0%, #a115a4 50%, #ce5937 100%);
        position: fixed;
        top: 100px;
        width: 100%;
        left: 0;
        height: calc(100% - 50%);
        overflow-y: auto;
        transition: 0.3s;
    }

    .nav-menu-item {
        padding: 5px;

    }

    .nav-menu-link:hover,
    .nav-menu-link_active {
        background: var(--color-1);
        color: white;
    }

    .checkbtn {
        display: block;
    }

    #check:checked~ul {
        left: 100%;
    }
}

/* FIN MEDIA QUERY NAVBAR */