*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container-fluid{
    background: linear-gradient(to left, #9c17c5 0%, #a115a4 50%, #ce5937 100%); 
    
}
a{
    text-decoration: none; 
    color: aliceblue;
    
}

img{
    object-fit: scale-down;
 
}