* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 100px 0px 0px 0px;
}
/* ModalContacto */

@keyframes gradient{
	0%{
		background-position:0% 50%;
	}
	50%{
		background-position:100% 50%;
	}
	100%{
		background-position:0% 50%;
	}
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body .modal-l{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000b0;
}
.modal-l{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-modal:checked ~ .modal-l{
    opacity: 1;
    visibility: visible;
}

#btn-modal:checked ~ .modal-l .contenedorModal-l{
    transform: translateY(0%);
}
.modalcontact-l{
    position: absolute;
    top: 10px;
    font-family: 'roboto';
    right: 10px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    cursor: pointer;    
}
#btn-modal{
    display: none;
}
.lbl-modal{
    cursor: pointer;
}

.form-l{
    background-color: #fff;
    width: 90%;
    margin: auto;
    max-width: 400px;
    padding: 2.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0/ 30%);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.form-title-l{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.form-paragraph-l{
    font-weight: 300;
}

.form-container-l{
    margin-top: 3em;
    margin-bottom: 1.5em;
    display: grid;
    gap: 3.5em;
}

.form-group-l{
    position: relative;
    --color: #5757577e
}

.form-input-l{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Roboto', sans-serif;
}

.form-label-l{
    color: var(--color);
    position: absolute;
    top: -18px;
    left: 5px;
    cursor: text;
}

.form-submit-l{
    background: #f23838;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
}

.form-line-l{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #f23838;
}

@media (max-widht:425px) {

    .form-title-l{
        font-size: 1.8rem;
    }

}

.form-l .x{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -20px;
    left: 30px;
    cursor: pointer;
}

.form-group-l textarea{
    width: 100%;
    color: #706c6c;
    font-size: 1rem;
    margin-top: 10px;
    padding-top: 1em; 
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    resize: none;
}