* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 100px 0px 0px 0px;
}

.header {
    background-image: linear-gradient(30deg, rgb(253, 253, 81) 15%, rgb(87, 87, 253), rgb(255, 70, 70));
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0px auto;

}
.nav img {
    height: 75px;
    position: relative;
    left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 12px;

}

.nav a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin-right: 10px;
}

.nav-menu {
    display: flex;
    margin-right: 5px;
    list-style: none;
}
.nav-menu-item {
    font-size: 1.3rem;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu li a:hover {
    background: rgb(226, 42, 29);
    color: white;
}
.nav-menu-link:hover,
.nav-menu-link_active
 {

    background: rgb(226, 42, 29);
    transition: 0.5s;
}
 
.nav-menu-link {
    border-radius: 10px;
    
}
.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 85px;
    display: none;
    cursor: pointer;
}

/* MEDIA QUERY */

@media (max-width:879px) {
    body {
        padding-top: 70px;
    }
    .header {
        height: 100px;
    }
    .nav img {
        height: 65px;
        position: relative;
        left: 5px;
        z-index: 999;
    }
    .nav-menu {
        flex-direction: column;
        align-items: center;
        background-image:  linear-gradient(116deg, rgb(253, 253, 81) 15%, rgb(87, 87, 253), rgb(255, 70, 70));
        position: fixed;
        top: 100px;
        left: 0;
        width: 100%;
        height: calc(100% - 60%);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
    }
    .nav-menu-item {
        padding: 5px;
        
    }
    .nav-menu-link:hover,
    .nav-menu-link_active
    {
        background-color: rgb(226, 42, 29);
        color: white; 
    }
    .nav-toggle {
        display: block;
    }
    .nav-menu_visible {
        left: 0;
    }
}

.container-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* FOOTER-INICIO */

footer {
    width: 100%;
    padding: 10px 2px;
    background-image: linear-gradient(116deg, rgb(253, 253, 81) 15%, rgb(87, 87, 253), rgb(255, 70, 70));
    
}
.container-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    max-width: 992px;
    margin: 0px auto;
}
.box-footer {
    display: flex;
    flex-direction: column;
    padding: 30px;
    color: black;
}
.box-footer .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}
.box-footer .logo img {
    max-width: 240px;
    position: relative;
    left: 0;
}

.box-footer h2 {
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.box-footer a {
    margin-top: 15px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.box-footer a span {
    padding: 10px;
}

.box-footer a span:hover {
    background: rgb(226, 42, 29);
    transition: 0.5s;
    border-radius: 10px;
    color: white;
}

.box-footer .fa-facebook-square {
    color: rgb(44, 60, 206);
    font-size: 25px;

}
.box-footer .fa-twitter-square {
    color: rgb(31, 125, 187);
    font-size: 25px;
    
}
.box-footer .fa-envelope {
    color: red;
    font-size: 25px;
    
}
.box-footer .fa-linkedin {
    color: white;
    font-size: 25px;
    
}
.box-copyright {
    max-width: 100%;
    margin: auto;
    text-align: center;
    padding:0px 40px;
}
.box-copyright p {
    margin: 10px;
}
.box-copyright hr {
    border: none;
    height: 1px;
}
.box-copyright span {
    font-weight: 750;
    color: rgb(255, 184, 30);
}


/*Slider*/

#main .carousel-inner img {
    /* max-height: 70vh; */
    
    height: 85vh;
    object-fit: cover;
    /* filter: grayscale(100%); para darle escala de grises */
    z-index: -1;
}
/* ModalContacto */

@keyframes gradient{
	0%{
		background-position:0% 50%;
	}
	50%{
		background-position:100% 50%;
	}
	100%{
		background-position:0% 50%;
	}
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body .modal-l{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000b0;
}
.modal-l{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-modal:checked ~ .modal-l{
    opacity: 1;
    visibility: visible;
}

#btn-modal:checked ~ .modal-l .contenedorModal-l{
    transform: translateY(0%);
}
.modalcontact-l{
    position: absolute;
    top: 10px;
    font-family: 'roboto';
    right: 10px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    cursor: pointer;    
}
#btn-modal{
    display: none;
}
.lbl-modal{
    cursor: pointer;
}

.form-l{
    background-color: #fff;
    width: 90%;
    margin: auto;
    max-width: 400px;
    padding: 2.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0/ 30%);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.form-title-l{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.form-paragraph-l{
    font-weight: 300;
}

.form-container-l{
    margin-top: 3em;
    margin-bottom: 1.5em;
    display: grid;
    gap: 3.5em;
}

.form-group-l{
    position: relative;
    --color: #5757577e
}

.form-input-l{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Roboto', sans-serif;
}

.form-label-l{
    color: var(--color);
    position: absolute;
    top: -18px;
    left: 5px;
    cursor: text;
}

.form-submit-l{
    background: #f23838;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
}

.form-line-l{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #f23838;
}

@media (max-widht:425px) {

    .form-title-l{
        font-size: 1.8rem;
    }

}

.form-l .x{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -20px;
    left: 30px;
    cursor: pointer;
}

.form-group-l textarea{
    width: 100%;
    color: #706c6c;
    font-size: 1rem;
    margin-top: 10px;
    padding-top: 1em; 
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    resize: none;
}

