/* 
EM: relativo al elemento padre
REM: relativo al elemento raíz (etiqueta HTML y en su defecto el tamaño que tenga configurado el navegador)
%: relativo al elemento padre
VW: relativo al ancho de la ventana gráfica
VH: relativo a la altura de la ventana gráfica
 */


 #main .carousel-inner img {
    object-fit: fill;
    height: 90vh;
    width: 100%;
}

.titulo{

    display:flex;
    margin: 2rem;
    width: 20rem;
    min-height: 5rem;
    border-radius: 1rem;
    box-shadow: 2px 1px 15px -1px #000000;
    justify-content: center;
    align-items: center;
    
    
}


#tarjetas {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.card {
    display:flex;
    margin: 2rem;
    width: 30rem;
    min-height: 35rem;
    border-radius: 1rem;
    box-shadow: 2px 1px 15px -1px #000000;
}

.card img {
    align-self: center;
    width: 100%;
    filter: grayscale(1);
    transition: filter 1s;
}

.card:hover {
    transform: scale(1.1);
    transition-duration: 1s;
}

.card img:hover {
    filter: grayscale(0);
    transition: filter 1s;
}
